.projects {
    margin-top: 25%;
    margin-left: 16%;
    margin-bottom: 5%;

}
.container-movie {
    margin: 0 auto;

    max-width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.bloc-card {
    position: relative;
    width: 200px;
    height: 400px;
    margin: 20px;
    box-shadow: 2px 2px 2px 2px;
}


.img-movie {
    width: 175px;
    height: 100%;
    object-fit:cover

}

.container-movie .info {
    height: 15%;
    background: #fff;
    font-size: 20px;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.info p{
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    

}

p:nth-child(2){
    color: grey;
    font-weight: normal;
    
}
