.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    

} 

.container-description {
    background: greenyellow;
    height: 400px;
    width: 80%;
    border-radius: 20px;
    margin-top: 15px;   
    display: flex;
    align-items:flex-start
}


.Descrip-img {
    width: 15%;
    height:350px !important;
    background: black;
    margin : 1.5% 5% 0% 4%;
    
    
}
.Descrip-info {
    width: 950px;
    margin-top: 3%;
}

